# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Other file types directly associated with the PSoC Creator application
bq2002 Tester/bq2002 Tester.cydsn/*.cywrk.*
bq2002 Tester/bq2002 Tester.cydsn/*.cyprj.*
bq2002 Tester/bq2002 Tester.cydsn/*.cycdx
bq2002 Tester/bq2002 Tester.cydsn/*.cyfit
bq2002 Tester/bq2002 Tester.cydsn/*.rpt
bq2002 Tester/bq2002 Tester.cydsn/*.uvproj
bq2002 Tester/bq2002 Tester.cydsn/*_timing.html
bq2002 Tester/bq2002 Tester.cydsn/*.cydsn/codegentemp
bq2002 Tester/bq2002 Tester.cydsn/*.cydsn/CortexM0
bq2002 Tester/bq2002 Tester.cydsn/*.cydsn/Generated_Source
bq2002 Tester/bq2002 Tester.cydsn/*.cydsn/Export